<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicineschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/medicalogo"
        android:label="Medica 360"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineSchedule">
        <activity
            android:name=".MeasurmentsMainActivity"
            android:exported="true" />
        <activity
            android:name=".AppointmentsActivity"
            android:exported="true" />
        <activity
            android:name=".AddEditNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInWithGoogle"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" >
       </activity>
        <activity
            android:name=".AddMeasurements"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDose"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddMedication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".classes.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.medicineschedule.classes.AlarmReceiver" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".classes.updatRVreceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.medicineschedule.classes.updatRVreciver" >
                </action>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>